.fa-times-circle {
	color: rgb(249, 65, 68);
	padding-right: 5px;
}

.fa-check-circle {
	color: rgb(144, 190, 109);
	padding-right: 5px;
}

tr.active .fa-check-circle {
	color: rgb(74, 124, 89);
	padding-right: 5px;
}

#spoof-text {
	display: inline;
	text-align: left;
}